<div style="display: flex">
  <div class="game-container" *ngIf="playerNamesEntered">
    <div>
      <div *ngIf="winner == ''" class="player-turn-label">
        Player Turn:
        {{
          (this.player === "X"
            ? playerX
            : this.playerO === "computer"
            ? "COMPUTER"
            : playerO
          ) | uppercase
        }}
      </div>

      <div class="endGame" *ngIf="winner !== ''">
        <div *ngIf="winner === playerX" style="color: #f2b237">
          Winner is: {{ playerX | uppercase }}
        </div>

        <div
          *ngIf="winner === playerO && playerO !== 'computer'"
          style="color: #31c4be"
        >
          Winner is: {{ playerO | uppercase }}
        </div>
        <div *ngIf="winner === 'COMPUTER'" style="color: #31c4be">
          Winner is: COMPUTER
        </div>

        <div *ngIf="winner === 'No one (It\'s a draw)'">
          Game ended without a winner. It's a draw!
        </div>
      </div>

      <div class="game-board">
        <div
          *ngFor="let square of board; let i = index"
          class="square"
          [ngClass]="{ playerO: square == 'O' }"
          (click)="movePlayer(i)"
        >
          {{ square }}
        </div>
      </div>

      <div class="reset" *ngIf="winner !== ''">
        <button
          mat-stroked-button
          color="black"
          type="button"
          (click)="replay()"
        >
          Play Again
        </button>
        <button
          mat-stroked-button
          color="black"
          type="button"
          (click)="reset()"
        >
          Reset
        </button>
      </div>
    </div>
  </div>

  <div class="logs" *ngIf="playerNamesEntered">
    <div style="height: 400px; max-height: 400px; overflow: auto">
      <h2 style="text-align: center; color: #f2b237">
        {{ "Player 1:  " + playerX }}
      </h2>
      <div class="row" *ngFor="let state of stateBoard; let i = index">
        <div
          class="column"
          *ngIf="state.values == 'X'"
          style="width: 100% !important; text-align: center"
        >
          <span (click)="setToClickedState(i)"
            >Move number {{ i + 1 }}: Player X clicked box {{ state.id }}</span
          >
        </div>
      </div>
    </div>

    <div style="height: 400px; max-height: 400px; overflow: auto">
      <h2 style="text-align: center; color: #31c4be">
        {{ onePlayer ? "Computer" : "Player 2:  " + playerO }}
      </h2>
      <div class="row" *ngFor="let state of stateBoard; let i = index">
        <div
          class="column"
          *ngIf="state.values == 'O'"
          style="width: 100% !important; text-align: center"
        >
          <span (click)="setToClickedState(i)"
            >Move number {{ i + 1 }}: Player O clicked box {{ state.id }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="!playerNamesEntered">
  <h1 class="title">Let's play Tic Tac Toe</h1>
  <div class="players">
    <button
      mat-stroked-button
      color="black"
      type="button"
      (click)="OnePlayer()"
    >
      Play with Pc
    </button>
    <button
      mat-stroked-button
      color="black"
      type="button"
      class="twoPlayer"
      (click)="TwoPlayers()"
    >
      2 Players Mode
    </button>
  </div>

  <div *ngIf="!playerNamesEntered" class="startGame">
    <div class="player-names" *ngIf="onePlayer || twoPlayer">
      <label for="playerXName">
        {{ onePlayer ? "Your Name" : "Player 1 Name" }}:
      </label>
      <input type="text" id="playerXName" [(ngModel)]="playerX" />

      <div *ngIf="twoPlayer">
        <label for="playerOName">
          {{ onePlayer ? "Computer" : "Player 2 Name" }}:
        </label>
        <input type="text" id="playerOName" [(ngModel)]="playerO" />
      </div>
    </div>

    <button
      mat-stroked-button
      color="black"
      type="button"
      (click)="startGame()"
    >
      Start Game
    </button>
  </div>
</div>
