.title {
  font-family: "Play", sans-serif;
  font-size: 100px;
  color: white;
  margin-top: 160px;
  text-align: center;
}

.game-container {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.reset {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.reset button {
  font-family: "Play", sans-serif;
  font-size: 15px;
  padding: 24px;
  border-radius: 10px;
  background-color: #31c4be;
  color: white;
  border: none;
  box-shadow: inset 0px -4px 0px #128b86;
  cursor: pointer;
  font-weight: 700;
}

.column {
  color: #a8bec9;
}
.game-board {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  box-shadow: inset 0px -8px 0px #10212a;
  border: 0;
  cursor: pointer;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.square {
  width: 99%;
  height: 99%;
  border-width: 2px;
  box-shadow: inset 0px -8px 0px #10212a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #f2b237;
  grid-gap: 20px;
  background: #1f3540;
  border-radius: 15px;
  box-shadow: inset 0px -8px 0px #10212a;
  border: 0;
}

.square.playerO {
  color: #31c4be;
}
.square:hover {
  cursor: pointer;
}

.players {
  margin-left: 450px;
  padding-top: 90px;
  justify-content: center;
}
.players button {
  margin-left: 15px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 24px;
  border-radius: 10px;
  background-color: #f2b237;
  color: black;
  border: none;
  box-shadow: inset 0px -4px 0px #cc8b12;
  cursor: pointer;
  font-weight: 700;
}

.startGame label {
  font-size: 20px;
  font-family: "Play", sans-serif;
}

.startGame input {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  margin-inline-start: 300px;
  border: none;
  margin: 10px;
}

.startGame label {
  color: #a8bec9;
}

.startGame button {
  font-family: "Play", sans-serif;
  margin-left: 550px;
  margin-top: 50px;
  font-size: 15px;
  padding: 24px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: #31c4be;
  color: black;
  border: none;
  box-shadow: inset 0px -4px 0px #128b86;
  cursor: pointer;
  font-weight: 700;
}

.player {
  margin-top: 10px;
  margin-left: 100px;
}
.player h3 {
  font-family: "Play", sans-serif;

  color: white;
}

.endGame {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
}

.logs {
  display: grid;
  align-items: center;
  width: 40%;
  grid-template-columns: 50% 50%;
  justify-content: flex-end;
}

.logs h2 {
  text-align: center;
  color: white;
}

.logs .column {
  width: 100% !important;
  text-align: center;
}

span {
  cursor: pointer;
}
h3 {
  position: absolute;
  top: 4%;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.row {
  display: flex;
}

.player-turn-label {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
}
